# Backend Config
PORT=3000
DATABASE_URL=postgresql://neondb_owner:npg_AuD1SId7jmoQ@ep-little-bird-anmvktk1.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require
SHOPLINE_APP_KEY=7759719cfe7c36b97e9757cc90265a9da21b7951
SHOPLINE_APP_SECRET=afe7b16bcfff35a14982677b2d0727acaf6ea8e9
HOST_URL="https://your-ngrok-or-production-url.com"
FRONTEND_URL="https://your-frontend-deployment-url.com"

# Frontend Config
VITE_API_BASE_URL="http://localhost:3000"
